body {
    text-align: center;
    font-family : Times New Roman;
}

p {
    font-size : 1em;
    font-style : italic;
}

.redText {
    font-size : 2em;
    color : red;
    font-family : Arial;
}

div {
  font-size : 4em;
}

.cold {
    color : #95A5A6;
}

.chilly {
    color : #1ABC9C;
}

.nice {
    color : #2980B9;
}

.warm {
    color : #E67E22;
}

.hot {
    color : #E74C3C ;
}

